<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ItCraoutch</title>
  <link rel="stylesheet" href="style.css">
</head>

  <body>
    <div class="content">
      <!-- Contenu principal -->
      <h1>Page d'accueil de ItCraoutch</h1>

      <p>Bienvenue sur notre site de stockage de code en ligne!</p>

      <!-- Menu de navigation du site -->
      <div class="liens>"
          <ul class="navbar">
            <a href="index.html">Page d'accueil</a><br>
            <a href="inscription.html">Inscription</a><br>
            <a href="repos.html">Mes repos</a><br>
            <a href="glisser.html">Glisser déposer vos fichiers</a><br>
          </ul>
        </div>
      <!-- Signer et dater la page, c'est une question de politesse! -->
      <address>Fait le jour et la nuit<br> par le Craoutch.</address>
    </div>
  </body>
</html>