div{
    border: 30px ;
    margin: 30px 30px;
    padding: 30px;
  }
  
  /*Centre les éléments inline dans les éléments possédant un attribut class="centre"*/
  .centre{
    text-align: center;
  }